.RData
.Rhistory
misc/
nalewajski_book/
papers/
main_food_webB.R
spp_prms_rweb1.xlsx
dynamic_info_AIS_rweb1.pdf
dynamic_info_SI_rweb1.pdf
dynamic_info_TE_rweb1.pdf
average_dynamics_rweb1.pdf
average_dynamics_rweb1.png
avg_dit_rweb1.xlsx
dynamic_info_AIS_rweb1_sub.pdf
dynamic_info_SI_rweb1_sub.pdf
dynamic_info_TE_rweb1_sub.pdf
rand_fweb1_400g.var
rand_fweb1_te.var
