.RData
.Rhistory
misc/
nalewajski_book/
papers/
main_food_webB.R
spp_prms_rweb1.xlsx
dynamic_info_AIS_rweb1.pdf
dynamic_info_SI_rweb1.pdf
dynamic_info_TE_rweb1.pdf
average_dynamics_rweb1.pdf
average_dynamics_rweb1.png
avg_dit_rweb1.xlsx
dynamic_info_AIS_rweb1_sub.pdf
dynamic_info_SI_rweb1_sub.pdf
dynamic_info_TE_rweb1_sub.pdf
rand_fweb1_400g.var
rand_fweb1_te.var
rand_fweb1_si.var
scenario_foodwebs/scen_fweb1.var
scenario_foodwebs/figures/
scenario_foodwebs/spreadsheets/
scenario_foodwebs/.~lock.avg_dit_sweb1.xlsx#
oconnor_lab_Feb2020.odp
scenario_foodwebs/ai_te_graph_test21_R2_C2_P2.html
scenario_foodwebs/ai_te_graph_test21_R2_C2_P2_files/
scenario_foodwebs/ai_te_graph_test24_R2_C2_P2.html
scenario_foodwebs/ai_te_graph_test24_R2_C2_P2_files/
scenario_foodwebs/dynamic_info_AIS_sweb1test2_sub.pdf
scenario_foodwebs/dynamic_info_SI_sweb1test2_sub.pdf
scenario_foodwebs/dynamic_info_TE_sweb1test2_sub.pdf
scenario_foodwebs/scen_fweb2.var
scenario_foodwebs/scen_fwebmod2_test1.var
scenario_foodwebs/scen_fwebmod2_test2.var
scenario_foodwebs/scen_fwebmod4Rand.var
scenario_foodwebs/te_graph_test21_R2_C2_P2.html
scenario_foodwebs/te_graph_test21_R2_C2_P2_files/
scenario_foodwebs/te_graph_test34_R2_C2_P2.html
scenario_foodwebs/te_graph_test34_R2_C2_P2_files/
scenario_foodwebs/ai_te_graph_test41_R2_C2_P2.html
scenario_foodwebs/ai_te_graph_test41_R2_C2_P2_files/
scenario_foodwebs/food_web7_R3_C3_P3.html
scenario_foodwebs/pop_plot_examples1.pdf
scenario_foodwebs/pop_plot_examples1_1.png
scenario_foodwebs/pop_plot_examples1_2.png
scenario_foodwebs/pop_plot_examples1_3.png
scenario_foodwebs/scen_fwebmod5Rand.var
scenario_foodwebs/te_graph_test41_R2_C2_P2.html
scenario_foodwebs/te_graph_test41_R2_C2_P2_files/
scenario_foodwebs/te_graph_test51_R2_C2_P2.html
scenario_foodwebs/te_graph_test51_R2_C2_P2_files/
scenario_foodwebs/te_graph_test54_R2_C2_P2.html
scenario_foodwebs/te_graph_test54_R2_C2_P2_files/
simple_web1.png
simple_web1.xcf
scenario_foodwebs/scen_fwebmod6Rand.var
